@font-face {
  font-family: 'Avenir';
  src: local('Avenir'), url(./fonts/Metropolis-Regular.otf) format('truetype');
}

.css-1pndypt-Input {
  width: 100%;
  color: #4AAA97 !important;
  text-align: center;
  justify-content: center;
}